<nav class="navbar navbar-inverse navbar-fixed-top navbar-color">
    <div class="navbar-header">
        <div type="button" class="navbar-toggle left" data-toggle="collapse" data-target="#top-nav">
            <span class="glyphicon glyphicon-list navbar-toggle-color"></span>
        </div>
        <a class="navbar-brand">
            <img alt="C-Laborem" width="120" src="images/logo-header.png">
        </a>
        <div type="button" class="navbar-toggle navbar-toggle-right" ng-click="logout()">
            <span class="glyphicon glyphicon-log-out navbar-toggle-color"></span>
        </div>
        <div type="button" class="navbar-toggle navbar-toggle-right" data-toggle="collapse" data-target="#top-nav-plants">
            <span class="fa fa-building navbar-toggle-color"></span>
        </div>
        <div type="button" class="navbar-toggle navbar-toggle-right">
            <span class="glyphicon glyphicon-user navbar-toggle-color"></span>
        </div>
    </div>
    <div id="top-nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-click='goToHome(); collapse("top-nav");'><span class="fa fa-home main-menu-icons"></span><a>Inicio</a></li>
            <li ng-click='goToContracts(); collapse("top-nav");' ng-hide="!plant.data.contratos" ><span class="fa fa-indent main-menu-icons"></span><a>Contratos</a></li>
            <li ng-hide="!plant.data.contratistas"><span class="fa fa-briefcase main-menu-icons"></span><a>Contratistas</a></li>
            <li ng-click='goToWorkForce(); collapse("top-nav");' ng-hide="!plant.data.personal"><span class="fa fa-group main-menu-icons"></span><a>Personal</a></li>
            <li ng-hide="!plant.data.vehiculos"><span class="fa fa-truck main-menu-icons"></span><a href="#">Vehículos</a></li>
            <li ng-hide="!plant.data.maquinarias"><span class="fa fa-cogs main-menu-icons"></span><a href="#">Maquinarias</a></li>
            <li ng-hide="!plant.data.fiscales"><span class="fa fa-legal main-menu-icons"></span><a href="#">Fiscales</a></li>
            <li ng-hide="!plant.data.reportes"><span class="fa fa-bar-chart-o main-menu-icons"></span><a href="#">Reportes</a></li>
            <li ng-hide="!plant.data.mensajes"><span class="fa fa-envelope main-menu-icons"></span><a href="#">Mensajes</a></li>
            <li ng-hide="!plant.data.descargas"><span class="fa fa-cloud-download main-menu-icons"></span><a href="#">Descargas</a></li>
        </ul>
    </div>
    <div id="top-nav-plants" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-repeat="p in data.plantas.lista" ng-click="changePlant(p.id)" data-toggle="collapse" data-target="#top-nav-plants"><a>{{p.nombre}}</a></li>
        </ul>
    </div>
</nav>
