html {
    overflow-y: scroll;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v9/RJMlAoFXXQEzZoMSUteGWLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}


/* anchor tags should use pointer like buttons */
a {
    cursor: pointer;
    color: #428bca;
}

/** this allows us to display nothing until angular has applied changes to the dom
    without this we see what the dom wants to display first, and then get an update
    within milliseconds once angular is finished. -- it's the "funny flicker effect"
 **/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/** **
supports grid feature
**/

/******** Grid Global ********/

.ngPagerControl .ngPagerButton {
    /** pagination buttons are pushed down 10px... fix that here... **/
    margin-top: -10px;

    /** and a little space in between  **/
    margin-left: 2px;
    margin-right: 2px;
}

.nglabel {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}

.ngNoSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** better position ngGrid cell contents **/
.ngCell div {
    margin-top: 5px;
    margin-left: 5px;
}

/******** Grid ********/

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    /* width: none !important; */
    height: 420px;
}

.ngGrid {
    background-color: rgb(253, 253, 253);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/******** Header ********/

.ngGroupPanel {
    background-color: rgb(234, 234, 234);
    overflow: hidden;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.ngGroupPanelDescription {
    margin-top: 5px;
    margin-left: 5px;
}

.ngGroupList {
    list-style-type: none;
}

/***
   modal / login / password
**/

.modal-body {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.modal-body * {
    display: block;
    margin: 10px 0 5px 0;
    width: 95%;
}

#password {
    display: inline;
    float: left;
    max-width: 69%;
    min-width: 63px;
}
