<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">



            <div class="page-header">
                <h1>Bonefish</h1>
                <h2>An disruptive project.</h2>
            </div>
            <div>

                <p>Top projects in the world:
                </p>
                <p>1- Peridot</p>
                <p>2- Bonefish</p>
                <p>3- Everything else</p>
                
            </div>


            <a class="btn btn-large btn-primary" href="#/about">Learn more</a>

        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>