<div class="container nopad" fade-in>

    <div ng-include src="'views/partials/navbar-top.html'"></div>


    <div class="mainpage-header">
        {{plant.nombre}}
        <img class="mainpage-header-plantimg" src="{{plant.img}}"/>  
    </div>

    <div ng-controller="contractsCtrl">
        <div class="input-append">
            <a class="input-group">
                <input type="text" ng-model="query" ng-change="search()" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <span class="add-on"><i class="icon-search"></i></span>
                </span>
                
            </a>
            
            
        <!--<span class="add-on"><i class="icon-search"></i></span>-->
        </div>

                    
                    <div ng-repeat="item in pagedItems[currentPage]" class="tile-contract" >

                        <div class="tile-contract-num" >
                            Nª: <span class="bold-primaty-color">{{item.Num}}</span>
                            <div class="tile-contract-fiscal">
                                <div>Fiscal: </div><span class="bold-primaty-color">{{item.Fiscal}}</span>
                            </div>
                        </div>
                        <div class="tile-contract-fechas">
                            <div class="tile-contract-fecha">
                                <span>Inicio: <span class="bold-primaty-color">{{item.Inicio}}<span></span>
                            </div>
                            <div class="tile-contract-fecha">
                                <span>Fin: <span class="bold-primaty-color">{{item.Fin}}<span></span>
                            </div>
                            <div class="tile-contract-fecha">
                                <span>Extensión: <span class="bold-primaty-color">{{item.Extension}}<span></span>
                            </div>
                        </div>

                    </div>

                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
        </div>

    </div>

    <div class="footer"></div>
</div>

